body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top, #503d2e, #57412e, #5d462d, #634b2c, #68502b, #7d5c3d, #906951, #a37666, #be9496, #d1b7c1, #e4dbe4, #ffffff);
}
.logo{
    float: left;
}
.header{
    font-family: 'Changa One';
    color: white;
    text-shadow: 2px 2px 4px #47392d;
    text-align: right;
    width: 95%;
    padding: 10px;
}
.content{
    border-radius: 12px;
    background-color: #ffffff9e;
    position: absolute;
    height: 80%;
    width: 65%;
    left: 20%;
    padding: 1%;
    margin: 1%;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    padding-left: 10%;
}

.sign{
    margin-top: 5%;
    margin-left: 10%;
    font-family: 'Changa One';
    color: #47392d;
    font-size:larger;
    float: left;
}
.head{
    margin-top: 10px;
    height: 10%;
    margin-bottom: 2%;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    background-color: #E3A72F;
    border-radius: 50px;
    margin-left: 65%;
    width: 30%;
    height: 90%;
    border: 1px solid rgba(0, 0, 0, 0.397);
    padding-right: 1%;
}
.inside{
    background-color: white;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    font-family: 'Changa One';
    letter-spacing: 1px;
    color:#47392d;
    text-shadow: 2px 2px 4px #47392d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    margin-left:3%;
    float: left;
    width: 30%;
    height: 70%;
    border: 1px solid rgba(0, 0, 0, 0.397);
    cursor: pointer;
}
.inside:hover, .create:hover{
    background-color: #47392d;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(1px);
}
.body{
    padding: 10px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    background-color: #E7E7E7;
    border-radius: 50px;
    height: 80%;
    font-family: 'Changa One';
    width: 80%;
    color: #47392d;
}
.List{
    padding-left: 30PX;
    width: 50%;
    float: left;
    margin: 1%;
}
.List2{
    float: left;
    margin: 1%;
}
.List3{
    margin-left: 4%;
    margin-top: 10%;
    height: 75%;
    overflow: scroll;
    width: 90%;
}
input[type=text], select {
    width: 55%;
    padding: 1% 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
input[type=text2], select {
    width: 20%;
    padding: 1% 1%;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
.class{
    border-radius: 12px;
    background-color: #ffffff9e;
    position: absolute;
    height: 80%;
    left: auto;
    width: 15%;
    border: 1px solid rgba(0, 0, 0, 0.397);
    padding: 1%;
    margin: 1%;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.create{
    color: #47392d;
    font-size:larger;
    padding-top: 1%;
    text-align: center;
    font-family: 'Changa One';
    margin-top: 10px;
    margin-left: 85%;
    margin-right: 5%;
    height: 30px;
    border-radius: 12px;
    background-color: #E3A72F;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    cursor: pointer;
}

.dashboard{
    font-family: 'Changa One';
    font-size:larger;
    padding-left: 20px;
    color: white;
    text-shadow: 2px 2px 4px #47392d;
}
.login{
    margin: 10px;
    text-align: center;
    padding-left: 35px;
}
.dash{
    height: 60%;
    border-radius: 12px;
    margin: 10px;
    padding: 5px;
    overflow: scroll;

}
.profile,.settings,.logout{
    font-family: 'Changa One';
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #E3A72F;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: #47392d;
}
.profile:hover,.settings:hover,.logout:hover {
    background-color: #47392d;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-5px);
}

.subjects{
    font-family: 'Changa One';
    text-align:left;
    padding-left: 15px;
    border-radius: 12px;
    background-color: #47392d;
    width: 90%;
    height: 15%;
    margin-bottom: 10px;
    color: white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}
.nosubjects{
    font-family: 'Changa One';
    text-align:left;
    padding-left: 15px;
    border-radius: 12px;
    background-color: #47392d75;
    width: 90%;
    height: 15%;
    margin-bottom: 10px;
    color: white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}    
::-webkit-scrollbar-track {
    border: 1px solid #ffffff00;
    border-radius: 10px;
}    
::-webkit-scrollbar-thumb {
    background: #503d2e2d;  
    border-radius: 10px;
}    
::-webkit-scrollbar-thumb:hover {
    background: #47392d; 
}
